//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1N-UV9LQ144C6/I5
//Device: GW1N-9C
//Created Time: Wed 05 03 12:53:37 2023

IO_LOC "DTACK_CPU_n" 46;
IO_PORT "DTACK_CPU_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=16;
IO_LOC "IDE_CS_n[1]" 75;
IO_PORT "IDE_CS_n[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "IDE_CS_n[0]" 72;
IO_PORT "IDE_CS_n[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_RESET_n" 66;
IO_PORT "FLASH_RESET_n" IO_TYPE=LVTTL33 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_OE_n" 30;
IO_PORT "FLASH_OE_n" IO_TYPE=LVTTL33 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_WE_n" 67;
IO_PORT "FLASH_WE_n" IO_TYPE=LVTTL33 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_A19" 64;
IO_PORT "FLASH_A19" IO_TYPE=LVTTL33 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8;
IO_LOC "IDE_IOW_n" 78;
IO_PORT "IDE_IOW_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "IDE_IOR_n" 76;
IO_PORT "IDE_IOR_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=16;
IO_LOC "ROM_OE_n" 70;
IO_PORT "ROM_OE_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROM_WE_n" 71;
IO_PORT "ROM_WE_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROM_B2" 69;
IO_PORT "ROM_B2" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ROM_B1" 68;
IO_PORT "ROM_B1" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "WE_BANK1_EVEN_n" 126;
IO_PORT "WE_BANK1_EVEN_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "WE_BANK0_EVEN_n" 113;
IO_PORT "WE_BANK0_EVEN_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "WE_BANK1_ODD_n" 110;
IO_PORT "WE_BANK1_ODD_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "WE_BANK0_ODD_n" 112;
IO_PORT "WE_BANK0_ODD_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "OE_BANK1_n" 111;
IO_PORT "OE_BANK1_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "OE_BANK0_n" 114;
IO_PORT "OE_BANK0_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "VMA_n" 7;
IO_PORT "VMA_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLKCPU" 34;
IO_PORT "CLKCPU" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "CFGOUT_n" 140;
IO_PORT "CFGOUT_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "BR_68SEC000_n" 44;
IO_PORT "BR_68SEC000_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "D[15]" 61;
IO_PORT "D[15]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[14]" 60;
IO_PORT "D[14]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[13]" 59;
IO_PORT "D[13]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[12]" 58;
IO_PORT "D[12]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "AS_MB_n" 50;
IO_PORT "AS_MB_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "E" 11;
IO_PORT "E" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BG_n" 3;
IO_PORT "BG_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "BR_n" 139;
IO_PORT "BR_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "BG_68SEC000_n" 45;
IO_PORT "BG_68SEC000_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "BGACK_n" 49;
IO_PORT "BGACK_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "DTACK_MB_n" 48;
IO_PORT "DTACK_MB_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "FC[2]" 32;
IO_PORT "FC[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "FC[1]" 29;
IO_PORT "FC[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "FC[0]" 28;
IO_PORT "FC[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "VPA_n" 6;
IO_PORT "VPA_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "AS_CPU_n" 56;
IO_PORT "AS_CPU_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "LDS_n" 62;
IO_PORT "LDS_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "UDS_n" 63;
IO_PORT "UDS_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "RW_n" 47;
IO_PORT "RW_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "JP9" 15;
IO_PORT "JP9" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP8" 82;
IO_PORT "JP8" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP7" 90;
IO_PORT "JP7" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP6" 38;
IO_PORT "JP6" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP5" 24;
IO_PORT "JP5" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP4" 27;
IO_PORT "JP4" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP3" 26;
IO_PORT "JP3" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "JP2" 25;
IO_PORT "JP2" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "SW1" 8;
IO_PORT "SW1" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "OSC_CLK_X1" 84;
IO_PORT "OSC_CLK_X1" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "A[23]" 135;
IO_PORT "A[23]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[22]" 134;
IO_PORT "A[22]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[21]" 133;
IO_PORT "A[21]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[20]" 132;
IO_PORT "A[20]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[19]" 131;
IO_PORT "A[19]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[18]" 130;
IO_PORT "A[18]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[17]" 129;
IO_PORT "A[17]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[16]" 128;
IO_PORT "A[16]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[13]" 122;
IO_PORT "A[13]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[12]" 121;
IO_PORT "A[12]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[6]" 115;
IO_PORT "A[6]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[5]" 95;
IO_PORT "A[5]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[4]" 97;
IO_PORT "A[4]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[3]" 99;
IO_PORT "A[3]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[2]" 100;
IO_PORT "A[2]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[1]" 102;
IO_PORT "A[1]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "CFGIN_n" 141;
IO_PORT "CFGIN_n" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "RESET_n" 142;
IO_PORT "RESET_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "C7M" 23;
IO_PORT "C7M" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "D[1]" 104;
IO_PORT "D[1]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[5]" 94;
IO_PORT "D[5]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[4]" 96;
IO_PORT "D[4]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[9]" 52;
IO_PORT "D[9]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[7]" 92;
IO_PORT "D[7]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[3]" 98;
IO_PORT "D[3]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[0]" 106;
IO_PORT "D[0]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[8]" 51;
IO_PORT "D[8]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[6]" 93;
IO_PORT "D[6]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[2]" 101;
IO_PORT "D[2]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "A[15]" 124;
IO_PORT "A[15]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "D[11]" 57;
IO_PORT "D[11]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "D[10]" 54;
IO_PORT "D[10]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER DRIVE=8;
IO_LOC "FLASH_BUSY_n" 65;
IO_PORT "FLASH_BUSY_n" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "A[14]" 123;
IO_PORT "A[14]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[11]" 120;
IO_PORT "A[11]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[9]" 118;
IO_PORT "A[9]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[10]" 119;
IO_PORT "A[10]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[8]" 117;
IO_PORT "A[8]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "A[7]" 116;
IO_PORT "A[7]" IO_TYPE=LVTTL33 PULL_MODE=KEEPER;
IO_LOC "INT2_n" 10;
IO_PORT "INT2_n" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "SD_SS_n" 80;
IO_PORT "SD_SS_n" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "SD_SCLK" 85;
IO_PORT "SD_SCLK" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "SD_MOSI" 79;
IO_PORT "SD_MOSI" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "SD_MISO" 86;
IO_PORT "SD_MISO" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "SD_CD_n" 88;
IO_PORT "SD_CD_n" IO_TYPE=LVTTL33 PULL_MODE=NONE;
