//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1N-UV9LQ144C6/I5
//Device: GW1N-9
//Created Time: Fri 04 22 08:34:44 2022

IO_LOC "TEST2" 21;
IO_PORT "TEST2" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "TEST" 20;
IO_PORT "TEST" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "CLKCPU" 34;
IO_PORT "CLKCPU" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "OSC_CLK" 84;
IO_PORT "OSC_CLK" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "CDAC" 11;
IO_PORT "CDAC" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "C7M" 23;
IO_PORT "C7M" IO_TYPE=LVTTL33 PULL_MODE=NONE;
